{% extends 'base.html.twig' %} 
{% block stylesheets %} 
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/buy_confirmation.css') }}"> 
{% endblock %} 
{% block main %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Super Market</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            {% if is_granted('ROLE_EMPLOYEE') %}
            <a class="btn btn-outline-danger" style="margin-left: 1%" href="{{ path('logout') }}">Cerrar Sesion</a>
            {% else %}
            <a class="btn btn-outline-success" style="margin-left: 1%" href="{{ path('login') }}">Iniciar Sesion</a>
            {% endif %}
        </div>
    </nav>

    
    <div class="container" style="margin-top: 5%;">
        {% if cuponValido == 'false' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Cupón inválido!</strong> Cancelá la compra y volvé a realizarla utilizando un cupón válido para acceder al descuento por cupón!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <div class="jumbotron" style="padding-top: 2% !important; padding-bottom: 2% !important;">
            <h2>{{ product.name }}</h2>
            <img src="{{ asset(product.img_url) }}" class="img-fluid" alt="Responsive image" style="margin-top: 2%; margin-bottom: 2%;">
            <div class="text-center">
                <h5><b>Precio lista: </b><span style="color:red">${{ product.sale_price }}</span></h5>
                <h5><b>Descuento: </b><span style="color:green">-${{ product.sale_price - finalPrice }}</span></h5>
                <h5><b>Precio final: </b>${{ finalPrice }}</h5>
            </div>
            <br>
            <div style="display: flex; justify-content: center;">
                <button type="button" class="btn btn-danger btn-sm confirmationButton" id="cancel">Cancelar</button>
                &nbsp;
                <button type="button" class="btn btn-success btn-sm confirmationButton" id="accept">Confirmar</button>        
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %} 
    {{ parent() }}
    <script src="{{ asset('assets/js/buy_confirmation.js') }}"></script>
{% endblock %}