{% extends 'base.html.twig' %} 
{% block stylesheets %} 
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}"> 
{% endblock %}
{% block main %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Super Market</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            {% if is_granted('ROLE_EMPLOYEE') %}
            <a class="btn btn-outline-danger" href="{{ path('logout') }}">Cerrar Sesion</a>
            {% else %}
            <a class="btn btn-outline-success" href="{{ path('login') }}">Iniciar Sesion</a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        <div class="album py-5">
            <div class="row">
                {% for product in products %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top productImg" src="{{ asset(product.img_url) }}" data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">{{ product.name }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    {% if is_granted('ROLE_EMPLOYEE') %}
                                    <a class="btn btn-sm btn-outline-primary" href="{{ path('buy', { 'product': product.id, 'coupon': '0' }) }}">Comprar
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                    {% else %}
                                    {% include 'default/modal_coupon.html.twig' %}
                                    <button type="button" class="btn btn-sm btn-outline-primary buttonComprar" data-toggle="modal" data-target="#exampleModalCenter" href="" id="{{ product.id }}" id>Comprar
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    {% endif %}
                                </div>
                                <ul class="priceAndStock">
                                    <li>
                                        <small class="text-muted"><b>Stock:</b> {{ product.quantity }}</small>
                                    </li>
                                    <li>
                                        <small class="text-muted"><b>Precio lista:</b> ${{ product.sale_price }}</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %} 
{% block javascripts %} 
    {{ parent() }}
    <script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}